*{
    margin: 10px;
}



.input_form{
    border: 1px solid blue;
    background-color: rgb(214, 230, 229, 0.3);
    width: 600px;

    font-weight: bold;
    color: rgb(255, 188, 63);
    height: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
    height: auto;
    /* width: auto; */
}

.outer_box{
    border: 1px solid  rgb(231, 153, 44);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px; 
    
}

.center{
    text-align: center;
    /* justify-content: center; */
    margin: auto;
    color: rgb(5,5,110);
}
.err_msg{
    text-align: center;
    margin: auto;
    color: maroon;
}

.body{
    background-image: url('./images/bg_app_1a.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;    
}

.card{
    height: 100px;
    width: 500px;

}


