{% extends "admin_layout.html" %}   
<!-- inheritance -->
{% block content %}

<h1 class="center heading">Add Quiz</h1>
<form action="{{ url_for('admin.add_quiz') }}" method="POST">
    <div class="input_form">

        <div class="mb-3">
            <label for="chapter_id" class="form-label">Chapter ID</label>
            <input type="number" class="ip form-control" name="chapter_id" id="chapter_id" placeholder="Enter Chapter ID" required>
        </div>

        <div class="mb-3">
            <label for="datetime" class="form-label">Date - Time</label>
            <input type="datetime-local" class="ip form-control" name="datetime" id="datetime" required>
        </div>

        <div class="mb-3">
            <label for="duration" class="form-label">Duration</label>
            <input type="time" class="ip form-control" name="duration" id="duration" placeholder="Enter Duration" required>
        </div>

        <div class="mb-3">
            <label for="score" class="form-label">Score</label>
            <input type="number" class="ip form-control" name="score" id="score" placeholder="Enter Score" required>
        </div>

        <button type="submit" class="inline-btn">Add</button>
        <a href="{{url_for('admin.admin_dashboard')}}" type="button" class="inline-delete-btn" style="margin-left: 330px;">Cancle</a>

    </div>
</form>
</div>

{% endblock %}
