{% extends "admin_layout.html" %}  
{% block content %}

    {% for sub in subs %}
    
    <h1>{{sub.name}}</h1>
    <div class="card">
        <table border="3px">
            <th>Chapter Name</th>
            <th>No of questions</th>
            <th>Action</th>
            
            {% for chap in sub.chaps %}
            <tr>
                <td>{{chap.name}}</td>
                <td>{{chap.description}}</td>
            </tr>
            {% endfor %}
            
        </table>
        <a href="{{ url_for('admin.add_chapter', sid=sub.id) }}"> <button type="button" class="btn btn-outline-success">+ Add Chapter</button> </a>
    </div>

    
    {% endfor %}


    <a href="{{ url_for('admin.add_subject') }}"> <button type="button" class="btn btn-outline-success">+ Add</button> </a>



{% endblock %}
