{% extends "user_layout.html" %}
{% block content %}


<div style="margin-top: 80px;">
    <a href="{{url_for('general_routes.login')}}"><button type="button" class=" inline-btn " style="margin-top: 20px; margin-left: 10px; ">Login</button></a>
    <a href="{{url_for('general_routes.signup')}}"><button type="button" class="inline-btn" style="margin-top: 20px; margin-left: 30px; ">Signup</button></a>
</div>
<div style="margin-top: 130px; font-style: italic;" class="center orange_text"><h1> Welcome to Quiz Master</h1></div>
{% endblock %}