{% extends "user_layout.html" %}  
{% block content %}
<section class="subjects"> 
<h1 class="center heading">Upcoming Quizes</h1>
<div class="box-container">

{% if quizes %}
{% for quiz in quizes %}

    <div class="box">
        <div class="subject">
            <div class="quiz">
                <h3 > Quiz-{{quiz.id}}: {{quiz.chapter.name}}</h3>
                <h2 class="orange_text ">No of ques : {{quiz.questions|length}}</h2>
            </div>
        </div>
        
        <div class="description">
            <p style="font-size: large;"><b class="orange_text">Date/Time :</b> {{quiz.date_time}}</p>
            <p style="font-size: large;"><b class="orange_text">Duration :</b> {{quiz.duration}}</p>
            <p style="font-size: large;"><b class="orange_text">Score :</b> {{quiz.score}}</p>
            <p style="font-size: large;"><b class="orange_text">Maxm Score :</b> {{quiz.quiz_maxm_score}}</p>
        </div>


        <div>
            <!-- <a href="{{ url_for('user.view_quiz', id=quiz.id) }}" class="btn"> View </a> -->
            <a href="{{ url_for('user.get_question', quiz_id=quiz.id, q_no=1) }}" 
                class="inline-btn" 
                >
                Start Quiz
            </a>
            <!-- onclick="startTimer('{{ quiz.duration }}')" -->

        </div>
    </div>
        
    {% endfor %}

{% endif %}
    </div>
</section>

{% endblock %}





