{% extends "index.html" %}
{% block content %}
<div>
    <div class="err_msg">{{msg}}</div>
    <div class="heading center"><h1>Sign Up</h1></div>
    <form action="/signup" method="POST">
        <div class="input_form">

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="ip form-control" name="email" id="email" placeholder="iitm@study.iitm.ac.in">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="ip form-control" name="password" id="password" placeholder="password">
            </div>

            <div class="mb-3">
                <label for="full_name" class="form-label">Full Name</label>
                <input type="text" class="ip form-control" name="full_name" id="full_name" placeholder="Jhon Doe">
            </div>

            <div class="mb-3">
                <label for="qualification" class="form-label">Qualification</label>
                <input type="text" class="ip form-control" name="qualification" id="qualification" placeholder="10">
            </div>

            <div class="mb-3">
                <label for="date" class="form-label">Date Of Birth</label>
                <input type="date" class="ip form-control" name="date" id="date" placeholder="yyyy-mm-dd">
            </div>

            <div class="center"><button type="submit" class="btn btn-primary">Submit</button></div>
            <div class="center" style="color: rgb(255, 166, 0); font-size: large;">Already have and Account?<a href="/login">Login</a></div>
        </div>
    </form>
</div>
{% endblock %}