{% extends "admin_layout.html" %}  
{% block content %}

    {% for sub in subs %}
    
    <h1>{{sub.name}}</h1>
    <div class="card">
        <table border="3px">
            <th>Chapter Name</th>
            <th>No of questions</th>
            <th>Action</th>
            
            {% for chap in sub.chaps %}
            <tr>
                <td>{{chap.name}}</td>
                <td>{{chap.description}}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    {% endfor %}

{% endblock %}
