{% extends 'user_layout.html' %}
{% block content %}
    
<!-- home section -->
<section class="home-grid">
    <h1 class="heading">Quick Options</h1>
    <div class="box-container">
 
       <div class="box">
          <h3 style="font-size: 20px;" class="center orange_text">Subjects</h3>
          <hr>
         
       </div>
 
       <div class="box">
           <h3 style="font-size: 20px;" class="center orange_text">Course Subjects</h3>
           <hr>
         
      </div>
 
       
 
       <div class="box">
          <h3 style="font-size: 20px;" class="center orange_text">Important Chapters</h3>
          <hr>
          
       </div>
 
       
 
       <div class="box">
          <h3 style="font-size: 20px;" class="center orange_text">Want to Contribute..?</h3>
       </div>
 
    </div>
 
 </section>
 
 
 {% endblock%}
