{% extends "user_layout.html" %}   
<!-- inheritamce -->

{% block content %}
<div class="container">

  <div class="row">
    <div class="col">
      <div class="card" style="width:33rem;">
        <div  class="card-body">
          <h5 class="card-title">User-Score Summary</h5>
          <h6 class="card-subtitle mb-2 text-muted">User/Score</h6>
          <div>
            <img src="./static/images/summary/users_score_summary.jpeg" width="300" height="300">
          </div>
        </div>
      </div>
    </div>  
  

  
    <div class="col">
      <div class="card" style="width:33rem;">
        <div  class="card-body">
          <h5 class="card-title">Subjects Chapters Summary</h5>
          <h6 class="card-subtitle mb-2 text-muted">Subjects/Chapters</h6>
          <div>
            <img src="./static/images/summary/subs_chaps_summary.jpeg" width="300" height="300">
          </div>
        </div>
      </div>
    </div>  
</div>  
</div>

{% endblock%}