{% extends 'user_layout.html' %}
{% block content %}
    
<!-- home section -->
<section class="home-grid">
    <h1 class="heading">Quick Options</h1>
    <div class="box-container">
 
       <div class="box">
          <h3 style="font-size: 20px;" class="center orange_text">Subjects</h3>
          <hr>
          <p class="likes">Total subjects : <span>{{subjects|length}}</span></p>
          <a href="#" class="inline-btn">view subjects</a>
          <p class="likes">Total chapters : <span>{{chapters|length}}</span></p>
          <a href="#" class="inline-btn">view chapters</a>
          <p class="likes">Total Quizes : <span>{{quizes|length}}</span></p>
          <a href="#" class="inline-btn">view quizes</a>
       </div>
 
       <div class="box">
           <h3 style="font-size: 20px;" class="center orange_text">Course Subjects</h3>
           <hr>
         <div class="flex">
            <a href="#"><i class="fas fa-code"></i><span>Web Dev</span></a>
            <a href="#"><i class="fas fa-pen"></i><span>Figma</span></a>
            <a href="#"><i class="fas fa-chart-line"></i><span>Statistic</span></a>
            <a href="#"><i class="fas fa-music"></i><span>Music</span></a>
            <a href="#"><i class="fas fa-chart-simple"></i><span>Power Bi</span></a>
            <a href="#"><i class="fas fa-camera"></i><span>Editing</span></a>
            <a href="#"><i class="fas fa-cog"></i><span>Software</span></a>
            <a href="#"><i class="fas fa-vial"></i><span>Sci</span></a>
         </div>
      </div>
 
       
 
       <div class="box">
          <h3 style="font-size: 20px;" class="center orange_text">Important Chapters</h3>
          <hr>
          <div class="flex">
             <a href="#"><i class="fa-solid fa-list-check"></i><span>HTML</span></a>
             <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
             <a href="#"><i class="fab fa-js"></i><span>javascript</span></a>
             <a href="#"><i class="fab fa-react"></i><span>react</span></a>
             <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
             <a href="#"><i class="fab fa-bootstrap"></i><span>bootstrap</span></a>
          </div>
       </div>
 
       
 
       <div class="box">
          <h3 style="font-size: 20px;" class="center orange_text">Want to Contribute..?</h3>
          <hr>
          <p class="tutor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, nam?</p>
          <a href="#" class="inline-btn">get started</a>
       </div>
 
    </div>
 
 </section>
 
 
 {% endblock%}
