{% extends "user_layout.html" %}
{% block content %}
<div style="display: flex;" class="container">
  <div class="row">
    {% for quiz in quizzes %}
    <div class="col-md-6">
      <div class="card" style="width:33rem; margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">Performance in Quiz-{{ quiz.id }}</h5>
          <img src="{{ quiz_image_paths[loop.index0] }}" width="300" height="300" alt="Quiz Performance">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width:33rem; margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">Subjects Chapters Summary</h5>
          <img src="{{ subs_chaps_image_path }}" width="300" height="300" alt="Subjects Chapters Summary">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
